:root {
    --cal-poly-primary: #154734;
    --cal-poly-secondary: #BD8B13;

    --neutral-bright: #fff;
    --neutral-semi-bright: #bdbdbd;
    --true-neutral: #898989;
    --neutral-semi-dark: #5c5c5c;
    --neutral-dark: #000;
}

body {
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    background-color: #f4f4f4;
}

div.ec {
    width: 100%;
}

button.button-small {
    background-color: var(--cal-poly-secondary);
    color: var(--neutral-bright);
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
}
